body {
    background-color: black;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal {
   display: flex;
    background-color: rgba(240,248,255,0.8);
    margin: 0;                        
    flex-direction: row;
    min-height: 100vh;                
    align-items: center;              
    justify-content: center;          
    gap: 24px;
    margin-top: 0;

}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.logoEscuela {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.areaResultado {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.estiloBoton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 160px;

}

.estiloBoton:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px;
    border-color: #4CAF50;
    border-radius: 5px;
}

.estiloBoton:active {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;

}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.contenedorBoton {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
    width: 160px;
}

.cajaTexto {
    border-radius: 4px;
    border-color: #4CAF50;

    font-size: 20px;
    color: rgb(85, 83, 83);
}

.ingresoDatos {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tituloCampo {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    margin-right: 20px;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra las filas */
    justify-content: center;
    gap: 15px;                    /* espacio entre filas */
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;

}

.imagenResultado {
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.error {
    color: red;
    font-style: italic;
    font-size: 16px;
}